<!DOCTYPE html>
<html>
   <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   <body>
      <a href='/' class="back-link">< Back</a>

      <h1><%= character.name %></h1>

      <p>Class: <%= character["class"] %></p>
      <p>Race: <%= character.race %></p>

      <h2>Abilities</h2>

      <ul class="abilities-list">
         <% abilities.forEach(function(ability) { %>
            <li><%= ability.ability_name %></li>
            <p><%= ability.description %></p>
         <% }) %>
      </ul>

      <a href="/character/<%= character.name %>/new-ability" class="new-ability-link">+ New Ability</a>
   </body>
</html>
